.values {
    backface-visibility: hidden;

    [data-sprite] {
        width: 16px;
        text-shadow: none;
        background-image: url("#{$basePath}/assets/card-numbers-spritesheet.png");
        text-indent: -100000%;
        background-size: 159px 21px;
        height: 21px;
        image-rendering: pixelated;
    }

    [data-sprite="1"] {
        background-position-x: 0px;
        width: 14px;
    }

    [data-sprite="2"] {
        background-position-x: -15px;
    }

    [data-sprite="3"] {
        background-position-x: -31px;
    }

    [data-sprite="4"] {
        background-position-x: -47px;
    }

    [data-sprite="5"] {
        background-position-x: -63px;
    }

    [data-sprite="6"] {
        background-position-x: -79px;
    }

    [data-sprite="7"] {
        background-position-x: -96.5px;
        width: 15px;
    }

    [data-sprite="8"] {
        background-position-x: -112px;
    }

    [data-sprite="9"] {
        background-position-x: -127px;
    }

    [data-sprite="10"] {
        background-position-x: -144px;
    }

    .topValue {
        top: 6px;
        left: 23px;
        transform: translateX(-50%);
    }

    .rightValue {
        top: 36px;
        left: 25px;
        transform: translateY(-50%);
    }

    .bottomValue {
        top: 45px;
        left: 23px;
        transform: translateX(-50%);
    }

    .leftValue {
        top: 36px;
        left: 6px;
        transform: translateY(-50%);
    }
}

.galleryValues {
    backface-visibility: hidden;

    [data-sprite] {
        width: 18px;
        text-shadow: none;
        background-image: url("#{$basePath}/assets/gallery-numbers-spritesheet.png");
        text-indent: -100000%;
        background-size: 276px 32px;
        height: 32px;
        image-rendering: pixelated;
    }

    [data-sprite="1"] {
        background-position-x: -27px;
        width: 15px;
    }

    [data-sprite="2"] {
        background-position-x: -50px;
        width: 19px;
    }

    [data-sprite="3"] {
        background-position-x: -75px;
        width: 21px;
    }

    [data-sprite="4"] {
        background-position-x: -101px;
        width: 20px;
    }

    [data-sprite="5"] {
        background-position-x: -128px;
        width: 19px;
    }

    [data-sprite="6"] {
        background-position-x: -154px;
        width: 19px;
    }

    [data-sprite="7"] {
        background-position-x: -178px;
        width: 19px;
    }

    [data-sprite="8"] {
        background-position-x: -205px;
    }

    [data-sprite="9"] {
        background-position-x: -231px;
    }

    [data-sprite="10"] {
        background-position-x: -256px;
    }

    .topValue {
        top: 0px;
        left: 44px;
        transform: translateX(-50%);
    }

    .rightValue {
        top: 45px;
        left: 66px;
        transform: translateY(-50%);
    }

    .bottomValue {
        top: 60px;
        left: 44px;
        transform: translateX(-50%);
    }

    .leftValue {
        top: 45px;
        left: 5px;
        transform: translateY(-50%);
    }
}